:root {    
    --sk-loader-background: #ddd;
    --sk-loader-highlight-color: rgba(255, 255, 255, 0.6);
    --sk-loader-highlight: rgba(255, 255, 255, 0),
                          var(--sk-loader-highlight-color),
                          rgba(255, 255, 255, 0);
    --sk-loader-border-radius: 0.3em;
    --sk-loader-animation-time: 2s;
}